<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>Kwik Post - Homepage</title>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <link rel="shortcut icon" href="/assets/img/favicon.png"/>
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
</head>
<body>
  <nav><a href="/browse"><img id="logo" src="/assets/img/favicon.png" alt="notepad"/></a>
    <div class="navlink"><a href="/logout">Log out</a></div>
    <div class="navlink"><a href="/account">Change Password</a></div>
    <div class="navlink"><a href="/browse">Browse</a></div>
  </nav>
  <section id="makePost">
    <form id="postForm" name="postForm" action="/maker" method="POST" class="postForm">
      <label for="name">Title: </label>
      <input id="postTitle" type="text" name="title" placeholder="Post Title"/>
      <br><label for="content">Post Content: </label>
      <textarea id="postContent" type="text" name="content" placeholder="" rows="10" cols="50"></textarea>
      <input type="hidden" name="_csrf" value="{{csrfToken}}"/>
      <input class="formSubmit" type="submit" value="Post Now" />
    </form>
  </section>
  <section id="posts">
    <div>
      {{#if posts csrf=csrfToken}}
        {{#each posts token=csrf}}
          <div class="post">
            <h3 class="postTitle">{{this.title}}</h3>
            <h3 class="postOwner">By: {{this.ownerName}}</h3>
            <p class="postContent">{{this.createdDate}}</p>
            <h3 class="postDate">{{this.content}}</h3>
            <form id="editForm" action="/edit" method="GET">
              <input id="postID" type="hidden" name="postID" value="{{this._id}}"/>
              <input type="hidden" name="_csrf" value="{{token}}"/>
              <input type="submit" value="Edit Post"/>
           </form>
            <form id="deleteForm" action="/deletePost" method="POST">
              <input id="postID" type="hidden" name="postID" value="{{this._id}}"/>
              <input type="hidden" name="_csrf" value="{{token}}"/>
              <input type="submit" value="Delete Post"/>
           </form>
          </div>          
        {{/each}}
      {{else}}
        <h3 class="emptyPost">You haven't posted yet</h3>
      {{/if}}
    </div>
    <div class="advert">Your Ad Here</div>
  </section>
  <script src="/assets/bundle.js"></script>
</body>
</html>